@import "tailwindcss";



:root {
  --ink: #1A1D1E;
  --parchment: #EFE9DC;
  --moss: #4B5D45;
  --clay: #A85C32;
  --rule: #C9BFA8;
}

body {
  background-color: var(--parchment);
  color: var(--ink);
}

.fraunces {
  font-family: 'Fraunces', serif;
  font-weight: 500;
}

.ibm-plex-mono {
  font-family: 'IBM Plex Mono', monospace;
}